<div class="container" role="contentinfo">
  <div class="row m-20 add-scroll" role="row">
    <div class="col-sm-12 md-12 lg-12 m-20" role="columnheader">
      <!-- button with free style location -->
      <button style="position:absolute;left:255px;" actionActivated btnId="A" type="button"
        class="btn btn-outline-primary" xTooltip tooltipTitle="tooltip A">Button A</button>
      <!--  buttons with default bootstrap location -->
      <button actionActivated btnId="B" type="button" class="btn btn-outline-primary" xTooltip
        tooltipTitle="tooltip B">Button B</button>
      <button actionActivated btnId="C" type="button" class="btn btn-outline-primary" xTooltip
        tooltipTitle="tooltip C">Button C</button>

    </div>
  </div>
</div>
