/* You can add global styles to this file, and also import other style files */


.xello-tooltip {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #777;
  border-radius: 10px;
  /* position: absolute; */
  position: absolute;

}
